<section class="featured-carousel" id="featured-carousel">
  <h2 class="carousel-heading">
    {{ settings.heading }}
  </h2>

  <div class="carousel-products">
    <!-- Las product cards serán insertadas aquí desde JavaScript -->
  </div>

  <button id="viewAllBtn">View All</button>
</section>
