<section class="topbar">
  <div class="topbar__wrapper">
    <div class="topbar__content">
      {% assign repeat = 10 %}
    {% for i in (1..repeat) %}
      <span>{{ settings['hero-banner'].settings.marquee_text }}</span>
    {% endfor %}
    </div>
  </div>
</section>