<section class="topbar">
  <div class="topbar__wrapper">
    <div class="topbar__content">
      ★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;SHUFFLE ESSENTIAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★
    </div>
  </div>
</section>
