<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Shopify Simulator | Gradiweb</title>
</head>
<body>
  {% include 'top-bar' %}
  {% include 'header' %}
  {% include 'featured-products.liquid' %}
  <script src="/main.js"></script>
</body>
</html>