@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
body, * {
  font-family: 'Poppins', sans-serif !important;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  color: white;
}

.topbar {
  background-color: rgb(47, 197, 165);
  color: black;
  overflow: hidden;
  padding: 8px 0;
  border-bottom: 1px solid #333;
  position: relative;
}

.topbar__wrapper {
  overflow: hidden;
  width: 100%;
}

.topbar__content {
  display: flex;
  width: fit-content;
  animation: marquee 50s linear infinite;
  font-size: 14px;
  white-space: nowrap;
}

.topbar__content span {
  display: inline-block;
  padding-right: 2rem; // espacio entre repeticiones
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

// Responsive
@media (max-width: 768px) {
  .topbar__content {
    font-size: 12px;
  }
}


.header {
  font-family: sans-serif !important;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  padding: 10px 20px;
  transition: background-color 0.3s ease-in-out;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
  }

  &__logo img {
    height: 50px;
  
    @media (max-width: 768px) {
      height: 40px;
    }
  }

  &__payments {
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }

  .header__payments-label {
    font-weight: 500;
    font-size: 12px; 
    color: #d3d3d3;
    margin-right: 10px;
  }
  
  &__payment-icon {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  &__payment-icon img {
    width: 80%;
    height: 80%;
    object-fit: contain;
    display: block;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 15px;

    a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 14px;

      &:hover {
        text-decoration: underline;
      }
    }

    .header__cart {
    font-size: 20px;
    cursor: pointer;
    background-color:rgb(113, 71, 190);
    color: white;
    padding: 4px 4px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30px;
    min-height: 30px;
  }

  }
}

// Responsive
@media (max-width: 768px) {
  .header__container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .header__payments {
    justify-content: center;
    flex-wrap: wrap;
  }

  .header__links {
    width: 100%;
    justify-content: space-between;
  }

  .header__payments-box {
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }
}
